<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page.title ? page.title + ' - ' + config.title : config.title %></title>
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/partial/atom-one-dark.min.css">
  <link rel="icon" href="/<%= theme.favicon || 'favicon.jpg' %>">
  <meta name="description" content="<%= config.description %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <meta name="author" content="<%= config.author %>">
</head>
